* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5rem auto 5rem auto;
}
:root {
  scroll-behavior: smooth;
}
/* NAV */
.section1 nav {
  text-align: center;
  padding-top: 2rem;
}
nav a {
  text-decoration: none;
  color: black;
  margin: 0 3rem;
  color: white;
}
nav a:active {
  color: black;
}

/* SECTION 1*/
.section1 {
  background-image: url(../img/banner_background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
}
.section1 div {
  color: white;
  z-index: 1;
  position: relative;
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
}
.section1 button {
  background-color: #ff6b00;
  border: none;
  padding: 1rem;
}

/* ABOUT */
.about_section {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
  margin: 5rem auto 5rem auto;
  gap: 10%;
}

#about_me_photo {
  width: 23rem;
  height: auto;
}
.container_image img {
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

.container_image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.container_image img:active {
  box-shadow: none;
  border: 2px solid grey; /* Change the color to the desired border color */
}

/* EDUCATION */
.education_section {
  background: #fff3ea;
}
.education_styling {
  width: 65%;
  margin: 5rem auto 5rem auto;
  padding: 5rem 0 5rem 0;
}
.education_titles {
  text-align: center;
}
.grid_education {
  display: flex;
  justify-content: space-between;
}
.grid_education h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 1rem;
}

.education_list {
  list-style-type: none;
}
.subtitles_education {
  font-weight: 800;
  margin-top: 1.4rem;
  margin-bottom: 0.3rem;
}
.subtitles_certifications {
  margin-top: 1.4rem;
}

/* TIMELINE WORK EXPERIENCE */
.work_section {
  text-align: center;
}
.design-section {
  display: flex;
  flex-direction: column;
  padding: 3.5% 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.content {
  background: #1f1f1f;
  color: white;
  padding: 1.75rem;
  /*overflow-wrap: break-word !important; */
  border-radius: 6px;
  margin: 0px 20px 20px 20px;
}
.content li {
  list-style-type: none;
}

@media screen and (min-width: 768px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline_line {
    position: relative;
    background-image: linear-gradient(45deg, green, yellow, #8a2387);
    width: 4px;
    height: 100%;
  }
  .main-middle {
    opacity: 0;
  }
  .timeline-circle {
    position: absolute;
    top: 0;
    left: 50%;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, orange, #e94057, #8a2387);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

/* Skills */

.skills_section {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 5rem auto;
  width: 65%;
  gap: 5rem;
}
.skills {
  flex: 0 0 calc(33.333% - 6rem);
}
.skills h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.skills_grid {
  display: flex;
  justify-content: space-between;
}
.progress-bar {
  width: 300px;
  height: 10px;
  position: relative;
  
}

.progress {
  height: 100%;
  background-color: #d83434;
  border-radius: 20px;
}
.remaining {
  height: 100%;
  width: 25%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
}

/* FOOTER */

footer {
  background: red;
  padding: 3rem;
}
footer div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}
footer a {
  text-decoration: none;
}

