* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  padding: 5rem auto 5rem auto;
}
:root {
  scroll-behavior: smooth;
}
/* NAV */
.section1 nav {
  text-align: center;
  padding-top: 2rem;
}
nav a {
  text-decoration: none;
  color: black;
  margin: 0 3rem;
  color: white;
}
nav a:active {
  color: black;
}

/* SECTION 1*/
.section1 {
  background-image: url(../img/banner_background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
}
.section1 div {
  color: white;
  z-index: 1;
  position: relative;
}

.section1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
}
.section1 button {
  background-color: #ff6b00;
  border: none;
  padding: 1rem;
}

/* ABOUT */
.about_section {
  display: flex;
  align-items: center;
  width: 65%;
  justify-content: space-between;
  margin: 5rem auto 5rem auto;
  gap: 10%;
}

#about_me_photo {
  width: 23rem;
  height: auto;
}
.container_image img {
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
}

.container_image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.container_image img:active {
  box-shadow: none;
  border: 2px solid grey; /* Change the color to the desired border color */
}

/* EDUCATION */
.education_section {
  background: #fff3ea;
}
.education_styling {
  width: 65%;
  margin: 5rem auto 5rem auto;
  padding: 5rem 0 5rem 0;
}
.education_titles {
  text-align: center;
}
.grid_education {
  display: flex;
  justify-content: space-between;
}
.grid_education h3 {
  text-decoration: underline;
  text-underline-offset: 10px;
  margin-bottom: 1rem;
}
.progress-bar {
  width: 300px;
  height: 10px;
  position: relative;
}

.progress {
  height: 100%;
  background-color: yellow;
}
.remaining {
  height: 100%;
  width: 25%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
}

.education_list {
  list-style-type: none;
}
.subtitles_education {
  font-weight: 800;
  margin-top: 1.4rem;
  margin-bottom: 0.3rem;
}
.subtitles_certifications {
  margin-top: 1.4rem;
}

/* TIMELINE WORK EXPERIENCE */
.work_section {
  text-align: center;
}
.hexa{
  border: 0px;
  float: left;
  text-align: center;
  height: 35px;
  width: 60px;
  font-size: 22px;
  background: #f0f0f0;
  color: #3c3c3c;
  position: relative;
  margin-top: 15px;
}

.hexa:before{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-bottom: 15px solid #f0f0f0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  top: -15px;
}

.hexa:after{
  content: ""; 
  position: absolute; 
  left: 0; 
  width: 0; 
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #f0f0f0;
  bottom: -15px;
}

.timeline {
  position: relative;
  padding: 0;
  width: 100%;
  margin-top: 20px;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 2px;
  height: 100%;
  margin-left: -1px;
  background: rgb(213,213,213);
  background: -moz-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -o-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: -ms-linear-gradient(top, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  background: linear-gradient(to bottom, rgba(213,213,213,0) 0%, rgb(213,213,213) 8%, rgb(213,213,213) 92%, rgba(213,213,213,0) 100%);
  z-index: 5;
}

.timeline li {
  padding: 2em 0;
}

.timeline .hexa{
  width: 16px;
  height: 10px;
  position: absolute;
  background: #00c4f3;
  z-index: 5;
  left: 0;
  right: 0;
  margin-left:auto;
  margin-right:auto;
  top: -30px;
  margin-top: 0;
}

.timeline .hexa:before {
  border-bottom: 4px solid #00c4f3;
  border-left-width: 8px;
  border-right-width: 8px;
  top: -4px;
}

.timeline .hexa:after {
  border-left-width: 8px;
  border-right-width: 8px;
  border-top: 4px solid #00c4f3;
  bottom: -4px;
}

.direction-l,
.direction-r {
  float: none;
  width: 100%;
  text-align: center;
}

.flag-wrapper {
  text-align: center;
  position: relative;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(255,255,255);
  font-weight: 600;
  z-index: 15;
  padding: 6px 10px;
  text-align: left;
  border-radius: 5px;
}

.direction-l .flag:after,
.direction-r .flag:after {
  content: "";
  position: absolute;
  left: 50%;
  top: -15px;
  height: 0;
  width: 0;
  margin-left: -8px;
  border: solid transparent;
  border-bottom-color: rgb(255,255,255);
  border-width: 8px;
  pointer-events: none;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.time-wrapper {
  display: block;
  position: relative;
  margin: 4px 0 0 0;
  z-index: 14;
  line-height: 1em;
  vertical-align: middle;
  color: #fff;
}

.direction-l .time-wrapper {
  float: none;
}

.direction-r .time-wrapper {
  float: none;
}

.time {
  background: #00c4f3;
  display: inline-block;
  padding: 8px;
}

.desc {
  position: relative;
  margin: 1em 0 0 0;
  padding: 1em;
  background: rgb(254,254,254);
  -webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  -moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
  box-shadow: 0 0 1px rgba(0,0,0,0.20);
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
  position: relative;
  margin: 1em 1em 0 1em;
  padding: 1em;
  z-index: 15;
}

@media(min-width: 768px){
  .timeline {
    width: 660px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .timeline li:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  
  .timeline .hexa {
    left: -28px;
    right: auto;
    top: 8px;
  }

  .timeline .direction-l .hexa {
    left: auto;
    right: -28px;
  }

  .direction-l {
    position: relative;
    width: 310px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 310px;
    float: right;
    text-align: left;
  }

  .flag-wrapper {
    display: inline-block;
  }
  
  .flag {
    font-size: 18px;
  }

  .direction-l .flag:after {
    left: auto;
    right: -16px;
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-left-color: rgb(254,254,254);
    border-width: 8px;
  }

  .direction-r .flag:after {
    top: 50%;
    margin-top: -8px;
    border: solid transparent;
    border-right-color: rgb(254,254,254);
    border-width: 8px;
    left: -8px;
  }

  .time-wrapper {
    display: inline;
    vertical-align: middle;
    margin: 0;
  }

  .direction-l .time-wrapper {
    float: left;
  }

  .direction-r .time-wrapper {
    float: right;
  }

  .time {
    padding: 5px 10px;
  }

  .direction-r .desc {
    margin: 1em 0 0 0.75em;
  }
}

@media(min-width: 992px){
  .timeline {
    width: 800px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .direction-l {
    position: relative;
    width: 380px;
    float: left;
    text-align: right;
  }

  .direction-r {
    position: relative;
    width: 380px;
    float: right;
    text-align: left;
  }
}

/* Skills */

.skills_section {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 5rem auto;
  width: 65%;
  gap: 5rem;
}
.skills {
  flex: 0 0 calc(33.333% - 6rem);
}
.skills_grid {
  display: flex;
  justify-content: space-between;
}

/* FOOTER */

footer {
  background: red;
  padding: 3rem;
}
footer div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
}
footer a {
  text-decoration: none;
}
/*#naam {
  font-size: 40px;
}
img {
  height: 400px;
  border-radius: 100px;
}
.grid-section1 {
  display: flex;
  justify-content: center;
  gap: 20%;
  justify-items: center;
  align-items: center;
}
.grid-section2 {
  display: flex;
  justify-content: center;
  gap: 20%;
  justify-items: center;
}
.personal_info {
  text-align: start;
}

.grid-section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.grid_studies {
  display: flex;
}

*/
