* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  padding: 5rem auto 5rem auto;
}
:root {
  scroll-behavior: smooth;
}
/* General */
h2 {
  font-size: 2.5rem;
}
h1 {
  font-size: 3rem;
}
h4 {
  font-size: 1.5rem;
  color: #57a7d9;
}
p {
  font-size: 1.1rem;
  line-height: 20px;
}
/* NAV  */
nav {
  text-align: center;
  padding: 2rem 0rem 2rem 0rem;
  margin-bottom: -4rem;
  position: fixed;
  z-index: 2;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.7),
    rgba(0, 0, 0, 0.05)
  );
  width: 100%;
}
nav a {
  text-decoration: none;
  color: white;
  margin: 0 3rem;
  display: inline-block;
  font-size: 1.2rem;
}
nav a:active {
  color: black;
}

/* SECTION 1*/
.section1 {
  background-image: url(../img/banner_background.jpg);
  background-size: cover;
  background-position: center;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
}
.section1 h4 {
  color: white;
  font-size: 2rem;
}
.section1 div {
  color: white;
  z-index: 1;
  position: relative;
}
.section1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.7)
  );
}
.section1_button {
  margin-top: 2.5rem;
}
.section1 a {
  background-color: #d9a357;
  transition: 0.3s;
  border: 1px;
  border-radius: 5px;
  padding: 1rem;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
}
.section1 a:hover {
  cursor: pointer;
  background-color: #57a7d9;
  color: white;
}

/* ABOUT */
.about_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 65%;
  margin: 5rem auto 5rem auto;
  gap: 10%;
}
.about_me_info h2 {
  padding-bottom: 1rem;
}
#about_me_photo {
  width: 23rem;
  height: auto;
}
.mobile_text {
  display: none;
}

.container_image img {
  transition: box-shadow 0.2s ease-in-out, border 0.2s ease-in-out;
  border-radius: 5px;
}
.container_image img:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
.container_image img:active {
  box-shadow: none;
  border: 2px solid grey;
}
.short_info {
  background-color: #d9a357;
  border-radius: 5px;
  padding: 1rem;
  max-width: 200px;
  margin-top: -50px;
  margin-left: 10px;
  z-index: 1;
  position: relative;
  transition: 0.3s ease;
}
.short_info:hover {
  background-color: #57a7d9;
}
.short_info ul {
  list-style-type: none;
}
.short_info h3,
.short_info li {
  color: white;
  font-size: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

/* EDUCATION */
.education_section {
  background: #fff3ea;
}
.education_styling {
  width: 65%;
  margin: 5rem auto 5rem auto;
  padding: 5rem 0 5rem 0;
}

.education_titles {
  text-align: center;
}
table {
  border-spacing: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}
tr {
  position: relative;
}
table th {
  text-align: left;
  font-size: 2rem;
}
table td {
  padding-right: 1rem;
}

.table1 tr:nth-child(odd) {
  font-size: 1.5rem;
}
.table1 tr:nth-child(even) {
  color: gray;
}
.table2 tbody tr:nth-child(odd) {
  color: gray;
}
.table_structure {
  display: flex;
  justify-content: space-between;
}
.grid_education {
  display: none;
}
.subtitles_education {
  font-size: 1.1rem;
  margin-bottom: -0.5rem;
  font-weight: 600;
}
.education_list {
  list-style-type: none;
}

/* Skills */

.skills_section {
  display: flex;
  flex-direction: column;
  margin: 5rem auto 5rem auto;
  width: 65%;
  gap: 5rem;
}
.skills {
  flex: 0 0 calc(33.333% - 6rem);
}
.skills h4 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.skills_grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.progress-bar {
  width: 300px;
  height: 10px;
  position: relative;
}
.skills h4 {
  color: #d9a357;
}
.progress {
  height: 100%;
  background-color: #57a7d9;
  border-radius: 20px;
}
.remaining {
  height: 100%;
  background-color: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 20px;
}
.remaining1 {
  width: 15%;
}
.remaining2 {
  width: 30%;
}
.remaining3 {
  width: 10%;
}
.progress_bar_circle {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.progress_bar_circle1 {
  background: radial-gradient(closest-side, white 75%, transparent 80% 100%),
  conic-gradient(#57a7d9 80%, rgb(187, 217, 255) 0);
}
.progress_bar_circle1::before {
  content: "80%";
}
.progress_bar_circle2 {
  background: radial-gradient(closest-side, white 75%, transparent 80% 100%),
  conic-gradient(#57a7d9 85%, rgb(187, 217, 255) 0);
}
.progress_bar_circle2::before {
  content: "85%";
}
.progress_bar_circle3 {
  background: radial-gradient(closest-side, white 75%, transparent 80% 100%),
  conic-gradient(#57a7d9 95%, rgb(187, 217, 255) 0);
}
.progress_bar_circle3::before {
  content: "95%";
}
.softskills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10%;
}
.softskills div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.softskills div p {
  margin-top: 1rem;
}

/* TIMELINE WORK EXPERIENCE */
.work_section {
  text-align: center;
}
.design-section {
  display: flex;
  flex-direction: column;
  padding: 3.5% 0;
}

.design {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

/*.content {
  background-image: linear-gradient(45deg, #57a7d9, #d9a357);
  color: white;
  transition: 1s;
  padding: 1.75rem;
  border-radius: 6px;
  margin: 0px 20px 20px 20px;
}
.content:hover {
  background-image: linear-gradient(45deg, #d9a357, #57a7d9);
  transition: background 1s;
} */
.content {
  position: relative;
  color: white;
  padding: 1.75rem;
  border-radius: 6px;
  margin: 0px 20px 20px 20px;
  overflow: hidden;
}

.content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #57a7d9, #d9a357);
  opacity: 1;
  transition: 0.3s ease;
  z-index: -1;
}

.content::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(45deg, #d9a357, #57a7d9);
  opacity: 0;
  transition: 0.3s ease;
  z-index: -1;
}
.content:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.content:hover::before {
  opacity: 0;
}

.content:hover::after {
  opacity: 1;
}
.content li {
  list-style-type: none;
}

/* FOOTER */
footer {
  background: #d9a357;
  padding: 2rem;
}
footer div {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 0 auto;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}
footer a {
  text-decoration: none;
  color: white;
  background-color: #57a7d9;
  padding: 1rem;
  border-radius: 5px;
  transition: 0.3s ease;
}
footer a:visited {
  text-decoration: none;
}
footer a:hover {
  background-color: white;
  color: #57a7d9;
}

/* media queries */
@media screen and (max-width: 1480px) {
  .progress-bar {
    width: 200px;
  }
}
@media screen and (max-width: 1020px) {
  .skills_grid {
    flex-direction: column;
  }
  .skills {
    margin-top: 3rem;
  }
  .skills:first-child {
    margin-top: 0;
  }
  .desktop_text {
    display: none;
  }
  .mobile_text {
    display: block;
  }
  #about_me_photo {
    width: 15rem;
    height: auto;
  }
  

  .table_structure table {
    width: 100%;
  }
}
@media screen and (min-width: 951px) {
  .menu-icon {
    display: none;
  }
}
@media screen and (max-width: 950px) {
  nav {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background: linear-gradient(to bottom, #d9a357, rgba(0, 0, 0, 0.05));
    top: 60px;
    left: 0;
    width: 100%;
    padding-bottom: 10px;
  }
  .menu-icon {
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 2; /* Ensure the icon has a higher z-index than section1 and the navigation */
    cursor: pointer;
    font-size: 24px;
    color: white;
    background-color: #d9a357;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-bottom: 0.2rem;
    z-index: 3;
  }
  nav.show {
    display: flex;
    position: fixed;
    background-color: #d9a357;
    margin-top: -60px;
    z-index: 2;
  }

  nav a {
    margin: 0;
    padding: 10px;
    text-align: center;
    width: 15rem;
    box-sizing: border-box;
    border-bottom: 2px solid white;
  }
  nav a:last-child {
    border-bottom: none;
  }

  footer div {
    flex-direction: column;
    gap: 1.5rem;
  }
}
@media screen and (max-width: 800px) {
  .table_structure {
    display: none;
  }
  .grid_education {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1.5rem;
  }
  .grid_education h3 {
    font-size: 1.3rem;
  }
  .education_list li {
    margin-top: 1rem;
  }
  .education_list li:nth-child(odd) {
    margin-top: 1.5rem;
  }
  .section1 h1 {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}
@media screen and (min-width: 790px) {
  .timeline {
    display: grid;
    grid-template-columns: 1fr 3px 1fr;
  }
  .timeline-circle {
    height: 18px;
    transform: translateX(-40%);
    width: 18px;
    position: absolute;
    background-image: linear-gradient(45deg, orange, #d9a357);
    border-radius: 50%;
  }
  .timeline_line {
    position: relative;
    background-image: linear-gradient(45deg, #57a7d9, #d9a357);
    width: 4px;
  }
}
@media screen and (max-width: 700px) {
  .about_section {
    flex-direction: column;
  }
  .container_image {
    margin-top: 2.5rem;
  }
}
@media screen and (max-width: 600px) {
  * {
    font-size: 0.9rem;
  }
  .work_section {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  
}
